<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </a>
    <div class="post-content">
      <h3><a href="{{url}}" target="_blank">{{title}}</a><span>{{domain}}</span></h3>
      <p>
        {{pluralize votes "Voto"}}
        enviado por {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comentario"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Editar</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Charla</a>
  </div>
</template>